<div class="custom-container">
  <div style="display: flex; align-items: center; margin-left: 35px">
    <mat-form-field appearance="fill" style="width: 300px">
      <mat-label>Sélectionnez une société</mat-label>
      <mat-select
        [(value)]="selectedSociete"
        (selectionChange)="onChange($event)"
      >
        <mat-option *ngFor="let societe of societes" [value]="societe">
          {{ societe.nomSociete }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-chip-list
      *ngIf="selectedReleveBancaire"
      class="custom-chip-list"
      style="margin-left: 30px; height: 50px"
    >
      <mat-chip>RIB : {{ selectedReleveBancaire.iban }}</mat-chip>
    </mat-chip-list>
  </div>

  <div
    class="calendar-container"
    style="display: flex; flex-direction: column; align-items: left"
    [hidden]="!isSocieteSelected"
  >
    <!-- <div style="display: flex" hidden>
      <mat-form-field
        appearance="fill"
        style="width: 300px"
        [hidden]="!isSocieteSelected"
      >
        <mat-label>Sélectionnez une année d'extrait</mat-label>
        <mat-select
          [(value)]="selectedExtraitYear"
          (selectionChange)="onExtraitYearChange($event)"
        >
          <mat-option [value]="null">-- Sélectionnez une année --</mat-option>
          <mat-option
            *ngFor="let year of getDistinctExtraitYears()"
            [value]="year"
          >
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <label style="margin-left: 30px">
        <h4>
          Voici les dates d'extrait correspondant à l'année sélectionnée :<br />
          <span
            style="margin-left: 10px"
            *ngFor="let date of selectedYearExtraitDates"
          >
            {{ date }}/
          </span>
        </h4>
      </label>
    </div> -->
    <div>
      <mat-label class="calendrier-interactif-label">
        Les extraits bancaires sont présentés à travers notre calendrier
        interactif
      </mat-label>
      <div class="calendar">
        <button
          mat-icon-button
          class="control-button"
          (click)="getValeurPrecedente()"
          title="Année précédente"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div style="display: flex; justify-content: center">
          <mat-form-field
            appearance="fill"
            style="width: 170px; height: 70px"
            [hidden]="!isSocieteSelected"
          >
            <mat-label>Année d'extrait</mat-label>
            <mat-select
              [(value)]="selectedExtraitYear"
              (selectionChange)="onExtraitYearChange($event)"
            >
              <mat-option [value]="null"
                >-- Sélectionnez une année --</mat-option
              >
              <mat-option
                *ngFor="let year of getDistinctExtraitYears()"
                [value]="year"
              >
                {{ year }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="display: flex; justify-content: flex-end">
          <button
            mat-icon-button
            class="control-button"
            (click)="getValeurSuivante()"
            title="Année suivante"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>

        <mat-card class="month colored-month">Janvier</mat-card>
        <mat-card class="month colored-month">Février</mat-card>
        <mat-card class="month colored-month">Mars</mat-card>
        <mat-card class="month colored-month">Avril</mat-card>
        <mat-card class="month colored-month">Mai</mat-card>
        <mat-card class="month colored-month">Juin</mat-card>
        <mat-card class="month colored-month">Juillet</mat-card>
        <mat-card class="month colored-month">Août</mat-card>
        <mat-card class="month colored-month">Septembre</mat-card>
        <mat-card class="month colored-month">Octobre</mat-card>
        <mat-card class="month colored-month">Novembre</mat-card>
        <mat-card class="month colored-month">Décembre</mat-card>
      </div>
    </div>
  </div>
  <!-- stop here  -->
  <div *ngIf="selectedReleveBancaire && displayContent" style="margin-top: 0">
    <div *ngFor="let extrait of selectedReleveBancaire.extraits; let i = index">
      <div class="card-body" *ngIf="extrait === selectedExtrait">
        <h2 class="center-header">
          <span
            >Informations sur les soldes créditeurs et les mouvements de
            l'extrait</span
          >
        </h2>

        <table class="custom-table">
          <tr>
            <th class="date-extrait">Date d'extrait</th>
            <th class="date-debut">Date solde créditeur début mois</th>
            <th class="credit-debut">
              Crédit solde créditeur début mois en &nbsp;<span>&euro;</span>
            </th>
            <th class="date-fin">Date solde créditeur fin mois</th>
            <th class="credit-fin">
              Crédit solde créditeur fin mois en &nbsp;<span>&euro;</span>
            </th>
            <th class="mouvement-debit">
              Total mouvement débit en &nbsp;<span>&euro;</span>
            </th>
            <th class="mouvement-credit">
              Total mouvement crédit en &nbsp;<span>&euro;</span>
            </th>
          </tr>

          <tr>
            <td>{{ formatDate(selectedExtrait.dateExtrait) }}</td>
            <td>
              {{ formatDate(selectedExtrait.dateDuSoldeCrediteurDebutMois) }}
            </td>
            <td>
              {{ selectedExtrait.creditDuSoldeCrediteurDebutMois }} &euro;
            </td>
            <td>
              {{ formatDate(selectedExtrait.dateDuSoldeCrediteurFinMois) }}
            </td>
            <td>{{ selectedExtrait.creditDuSoldeCrediteurFinMois }} &euro;</td>
            <td>{{ selectedExtrait.totalMouvementsDebit }} &euro;</td>
            <td>{{ selectedExtrait.totalMouvementsCredit }} &euro;</td>
          </tr>
        </table>
        <app-bank-statement-table
          [data]="selectedExtrait.donneeExtraits"
          [formattedDateExtrait]="
            convertDate(selectedExtrait.dateExtrait.toString())
          "
          style="margin-top: 0"
        ></app-bank-statement-table>
      </div>
    </div>
  </div>
</div>
