body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.navbar {
  background-color: #2c3e50;
  color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-left: 1px solid #100e0e;
}

.card-body {
  padding: 20px;
  border-radius: 5px;
  border-left: 1px solid #100e0e;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #bdc3c7;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #bdc3c7;
}

.custom-table th {
  background-color: #7f8c8d;
  color: #ecf0f1;
}

.custom-table td {
  background-color: #ecf0f1;
}

.center-header {
  text-align: center;
  vertical-align: middle;
}

.full-calendar-container {
  width: 30%;
  height: 70%;
  margin-bottom: 10%;
}

.custom-chip-list {
  display: inline-flex;
  align-items: center;
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 16px;
}

.calendrier-interactif-label {
  font-size: 12px;
  font-weight: bold;
  color: #333333e4;
}

/* Ajouté des marges pour améliorer l'espacement */
body,
.container,
.navbar,
.card,
.card-body,
.custom-table,
.full-calendar-container,
.custom-chip-list,
.calendrier-interactif-label {
  margin-bottom: 20px;
}
