<div id="accordion" *ngFor="let r of releves; let i = index">
  <div class="card">
    <div class="card-header" [id]="'heading' + i">
      <h5 class="mb-0">
        <button
          class="btn btn-link"
          data-toggle="collapse"
          [attr.data-target]="'#collapse' + i"
          aria-expanded="true"
          [attr.aria-controls]="'collapse' + i"
        >
          Societe: {{ r.nomBank }} / Rib: {{ r.iban }}
        </button>
      </h5>
    </div>

    <div
      [id]="'collapse' + i"
      class="collapse"
      [attr.aria-labelledby]="'heading' + i"
      data-parent="#accordion"
    >
      <div class="card-body" *ngFor="let extrait of r.extraits; let j = index">
        <div>
          <!-- we call the child component that contain the table -->
          <div>
            <app-bank-statement-table
              [data]="extrait.donneeExtraits"
              [formattedDateExtrait]="formatDate(extrait.dateExtrait)"
              (toggle)="onToggle('myDiv' + i + '--' + j)"
            ></app-bank-statement-table>
          </div>

          <!-- we display the data without the table  -->

          <div [id]="'myDiv' + i + '--' + j" class="hidden-div div-border">
            <p>date extrait : {{ formatDate(extrait.dateExtrait) }}</p>
            <p>
              date du solde crediteurDebut mois :{{
                formatDate(extrait.dateDuSoldeCrediteurDebutMois)
              }}
            </p>
            <p>
              credit solde crediteurDebut mois :{{
                extrait.creditDuSoldeCrediteurDebutMois
              }}&nbsp;<span>&euro;</span>
            </p>
            <p>
              totalMouvement Debit :{{
                extrait.totalMouvementsDebit
              }}&nbsp;<span>&euro;</span>
            </p>
            <p>
              totalMouvement Credit:{{
                extrait.totalMouvementsCredit
              }}&nbsp;<span>&euro;</span>
            </p>
            <p>
              date du solde crediteur Fin mois:{{
                formatDate(extrait.dateDuSoldeCrediteurFinMois)
              }}
            </p>
            <p>
              credit solde crediteurFin mois:{{
                extrait.creditDuSoldeCrediteurFinMois
              }}&nbsp;<span>&euro;</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input
  type="file"
  id="fileUploader"
  (change)="onFileInputChange($event)"
  style="display: none"
/>
<input type="file" (change)="onFileInputChange($event)" />
