body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-left: 1px solid #100e0e;
}

.card-body {
  padding: 20px;
  border-radius: 5px;
  border-left: 1px solid #100e0e;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #bdc3c7;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #bdc3c7;
}

.custom-table th {
  background-color: #7f8c8d;
  color: #ecf0f1;
}

.custom-table td {
  background-color: #ecf0f1;
}

.center-header {
  text-align: center;
  vertical-align: middle;
}

.custom-chip-list {
  display: inline-flex;
  align-items: center;
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 16px;
}

.calendrier-interactif-label {
  font-size: 12px;
  font-weight: bold;
  color: #333333e4;
}

/* ------------------------------pour le nouveau calendrier------------------------------  */
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #eeeeee;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  margin-left: 40px;
  flex-grow: 1;
  flex-shrink: 0;
  width: 620px; /* Le fond s'étend sur toute la largeur disponible */
  padding: 2%;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 30%;
  gap: 2rem;
}

.month {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 70px;
  color: white;
  background-color: #6c757d;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.month:hover {
  background-color: #494d4b;
  cursor: pointer;
  transform: scale(1.05);
}

.year-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 1rem;
}

.colored-month {
  background-color: blue;
}

.hover-color {
  background-color: #ff9900;
}

.colored-month:hover {
  background-color: #ff9900;
}

.custom-container {
  margin-top: 50px;
  border: none !important; /* Supprimer la bordure */
}
