<h1 mat-dialog-title>Sélectionnez les mois à exporter</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Extraits de relevés / mois</mat-label>
    <mat-select [(value)]="selectedMonths" multiple>
      <!-- Ajout de l'attribut "multiple" -->
      <mat-option *ngFor="let month of months" [value]="month.value">
        {{ month.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Annuler</button>
  <button mat-button (click)="confirm()">Confirmer</button>
</div>
