<mat-card class="facture-section">
  <mat-card-content>
    <div style="position: relative; padding-top: 40px; text-align: center">
      <h2 class="modal-title">Gestion des Factures</h2>
      <button mat-icon-button (click)="closeModal()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <!-- Section pour afficher et gérer les factures -->
    <table mat-table [dataSource]="factures" class="mat-elevation-z8">
      <!-- Commentaire Column -->
      <ng-container matColumnDef="commentaire" class="wide-column">
        <th mat-header-cell *matHeaderCellDef class="header-cell">
          Commentaire
        </th>
        <td mat-cell *matCellDef="let facture" class="cell">
          <mat-form-field class="commentaire-field">
            <textarea
              matInput
              [(ngModel)]="facture.commentaire"
              (blur)="sauvegarderCommentaire(facture)"
              (ngModelChange)="commentairesModifies[facture.titre] = true"
            ></textarea>
          </mat-form-field>
          <mat-icon *ngIf="commentairesModifies[facture.titre]"
            >autorenew</mat-icon
          >
          <mat-icon *ngIf="!commentairesModifies[facture.titre]">done</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="titre" class="narrow-column">
        <th mat-header-cell *matHeaderCellDef class="header-cell">Titre</th>
        <td mat-cell *matCellDef="let facture" class="cell">
          {{ facture.titre }}
        </td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef="actions" class="wide-column">
        <th mat-header-cell *matHeaderCellDef class="header-cell">Actions</th>
        <td mat-cell *matCellDef="let facture" class="cell">
          <div class="action-buttons">
            <button
              mat-icon-button
              color="warn"
              (click)="afficherConfirmationSuppression(facture)"
              class="delete-button"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <div
              class="confirmation-container"
              *ngIf="facture === factureASupprimer"
            >
              <p>Voulez-vous vraiment supprimer cette facture ?</p>
              <div>
                <button
                  mat-button
                  color="warn"
                  (click)="confirmerSuppression()"
                >
                  Oui
                </button>
                <button
                  mat-button
                  color="primary"
                  (click)="annulerSuppression()"
                >
                  Annuler
                </button>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{ 'first-row': row === factures[0] }"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>

ajout d'un commentaire
<button mat-icon-button color="primary" (click)="ajouterCommentaire(facture)">
  <mat-icon>add_comment</mat-icon> ajouter une facture
</button>
