<!DOCTYPE html>
<html>
  <head>
    <title>Gestion des Factures</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        <h2 class="modal-title">Gestion des Factures</h2>
      </div>
      <div class="card-body">
        <div class="new-facture-container">
          <input
            type="text"
            class="form-control"
            placeholder="Titre de la nouvelle facture"
            [(ngModel)]="nouvelleFacture.titre"
          />
          <input
            type="text"
            class="form-control"
            placeholder="Commentaire de la nouvelle facture"
            [(ngModel)]="nouvelleFacture.commentaire"
          />
          <button (click)="ajouterFacture()" class="btn btn-primary">
            <i class="fas fa-plus"></i> Ajouter une facture
          </button>
        </div>
        <div *ngIf="ajoutEnCours" class="alert alert-success mt-2" role="alert">
          Facture enregistrée avec succès!
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Commentaire</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let facture of factures">
              <td>{{ facture.titre }}</td>
              <td>
                <div>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="facture.commentaire"
                    (ngModelChange)="sauvegarderCommentaire(facture)"
                  />
                  <div
                    *ngIf="facture.enCoursDeModification"
                    class="alert alert-warning mt-2"
                    role="alert"
                  >
                    Modification en cours...
                  </div>
                </div>
              </td>
              <td class="action-cell">
                <div
                  *ngIf="facture.titre === factureASupprimer"
                  class="confirmation-container"
                >
                  <p class="confirmation-message">
                    Voulez-vous vraiment supprimer cette facture ?
                  </p>
                  <div class="confirmation-buttons">
                    <button
                      class="btn btn-danger btn-confirmation btn-cancel"
                      (click)="confirmerSuppression()"
                    >
                      <i class="fas fa-check"></i> Oui
                    </button>
                    <button
                      class="btn btn-primary btn-cancel"
                      (click)="annulerSuppression()"
                    >
                      <i class="fas fa-times"></i> Non
                    </button>
                  </div>
                </div>
                <button
                  *ngIf="facture.titre !== factureASupprimer"
                  class="btn btn-danger action-button"
                  (click)="afficherConfirmationSuppression(facture)"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button
          (click)="closeModal()"
          class="btn btn-warning close-button float-right"
        >
          <i class="fas fa-times"></i> Fermer
        </button>
        <button
          (click)="saveChanges()"
          class="btn btn-success save-button float-right"
        >
          <i class="fas fa-save"></i> Enregistrer
        </button>
      </div>
    </div>
  </body>
</html>
