.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.modal-title {
  text-align: center;
}

.facture-section {
  padding: 16px;
  width: 100%;
}

.facture-section table {
  width: 70%;
  padding-left: 20px;
}

.facture-section .mat-cell:last-child,
.facture-section .mat-header-cell:last-child {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  padding-left: 20px;

  height: 80px;
}

.facture-section .mat-cell:first-child,
.facture-section .mat-header-cell:first-child {
  padding-top: 15px;
  vertical-align: middle;
  height: 50px;
}

.mat-elevation-z8 {
  overflow: auto;
}

.mat-icon-button {
  margin-right: 10px; /* Ajusté à 10px */
}

.custom-modal .mat-dialog-container {
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-modal .mat-dialog-container.ng-dialog-animation-opened {
  opacity: 1;
}

.wide-column {
  width: 60%;
}

.narrow-column {
  width: 40%;
}

.facture-section .mat-cell,
.facture-section .mat-header-cell {
  vertical-align: middle;
  padding: 5px; /* Ajusté à 5px */
  box-sizing: border-box;
}

.facture-section .mat-header-cell {
  padding-bottom: 15px;
  vertical-align: middle;
}

.facture-section .mat-cell {
  padding-bottom: 10px; /* Ajusté à 10px */
  vertical-align: middle;
}

.mat-icon-button:focus {
  outline: none;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.facture-section .mat-cell:last-child button[mat-icon-button][color="warn"] {
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 0;
}

button.mat-icon-button {
  background-color: transparent;
  box-shadow: none;
}

.delete-button.mat-icon-button {
  background: none;
  box-shadow: none;
}

.facture-section .mat-cell:last-child .action-buttons {
  display: flex;
  align-items: center;
}

.facture-section .mat-cell:last-child .confirmation-container {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.facture-section .mat-cell:last-child .confirmation-container p {
  margin-bottom: 10px;
}

.facture-section .mat-cell:last-child .confirmation-container div {
  display: flex;
  gap: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: transform 0.3s ease-in-out;
  color: red;
}

.close-button:hover {
  transform: scale(1.2);
}

.facture-section .mat-cell {
  min-height: 130px;
  padding-bottom: 10px; /* Ajusté à 10px */
  vertical-align: middle;
}
.facture-section .mat-cell,
.facture-section .mat-header-cell {
  padding: 15px; /* essayez de définir à 0 */
  box-sizing: border-box;
}

.mat-icon-button {
  margin: 0px; /* essayez de définir à 0 */
}
