body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease;
}

.card {
  margin: 2em auto;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.29),
    0px 6px 16px rgba(0, 0, 0, 0.33);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  color: #343a40;
  text-align: center;
  flex-grow: 1;
}

.card-body {
  padding: 2em;
}

.table {
  width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
}

.table th {
  background-color: #007bff;
  color: #fff;
  text-align: left;
  padding: 0.75em;
}

.table td {
  border-top: 1px solid #dee2e6;
  padding: 0.75em;
  vertical-align: middle;
}

.form-control {
  width: 100%;
  border: 1px solid #ced4da;
  padding: 0.375em 0.75em;
  border-radius: 0.25em;
}

.btn {
  margin: 1em 0;
  padding: 0.375em 0.75em;
  border-radius: 0.25em;
  font-size: 1em;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0069d9;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.action-cell .action-button {
  margin: 0.5em 0;
}

.confirmation-message {
  margin-right: 10px;
}

.confirmation-buttons {
  display: flex;
  align-items: center;
}

.close-button {
  background-color: #dc3545;
  border: none;
}

.fa-trash-alt {
  font-size: 0.8em;
}

.fa-plus,
.fa-times {
  margin-right: 0.5em;
}

.confirmation-buttons button:not(:last-child) {
  margin-right: 10px;
}

.close-button,
.save-button {
  margin-left: 10px;
}

.btn-confirmation,
.btn-cancel {
  width: 80px;
}

.save-button,
.close-button {
  width: 120px;
}

.alert {
  margin-left: 10px;
  padding: 6px;
  font-size: 0.8em;
}

.new-facture-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.new-facture-container .form-control {
  margin: 0 1em;
  flex-grow: 1;
}
