<h1 mat-dialog-title>Filtres</h1>

<div mat-dialog-content class="dialog-container">
  <div class="filter-section">
    <label class="filter-label">Date</label>
    <mat-form-field appearance="fill" class="filter-input">
      <mat-label>Choisir une plage de dates</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          placeholder="Date de début"
          [(ngModel)]="data.startDate"
        />
        <input
          matEndDate
          placeholder="Date de fin"
          [(ngModel)]="data.endDate"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="filter-section">
    <label class="filter-label">Date valeur</label>
    <mat-form-field appearance="fill" class="filter-input">
      <mat-label>Choisir une plage de dates de valeur</mat-label>
      <mat-date-range-input [rangePicker]="picker2">
        <input
          matStartDate
          placeholder="Date de début de valeur"
          [(ngModel)]="data.startDateValeur"
        />
        <input
          matEndDate
          placeholder="Date de fin de valeur"
          [(ngModel)]="data.endDateValeur"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-date-range-picker #picker2></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="filter-section">
    <label class="filter-label">Débit</label>
    <div
      class="filter-inputs"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field
        appearance="fill"
        class="filter-input"
        style="flex: 1; margin-right: 10px"
      >
        <mat-label>Minimum</mat-label>
        <input
          matInput
          [(ngModel)]="data.debitMin"
          type="number"
          placeholder="Entrer le montant minimum"
        />
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="filter-input"
        style="flex: 1; margin-left: 10px"
      >
        <mat-label>Maximum</mat-label>
        <input
          matInput
          [(ngModel)]="data.debitMax"
          type="number"
          placeholder="Entrer le montant maximum"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="filter-section">
    <label class="filter-label">Crédit</label>
    <div
      class="filter-inputs"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field
        appearance="fill"
        class="filter-input"
        style="flex: 1; margin-right: 10px"
      >
        <mat-label>Minimum</mat-label>
        <input
          matInput
          [(ngModel)]="data.creditMin"
          type="number"
          placeholder="Entrer le montant minimum"
        />
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="filter-input"
        style="flex: 1; margin-left: 10px"
      >
        <mat-label>Maximum</mat-label>
        <input
          matInput
          [(ngModel)]="data.creditMax"
          type="number"
          placeholder="Entrer le montant maximum"
        />
      </mat-form-field>
    </div>
  </div>
  <!-- Ajout du bloc pour les opérations -->
  <div class="filter-section">
    <label class="filter-label">Opérations</label>
    <mat-form-field appearance="fill" class="filter-input">
      <mat-label>Entrer des mots clés</mat-label>
      <input
        matInput
        [(ngModel)]="data.operation"
        type="text"
        placeholder="Entrer des mots clés"
      />
    </mat-form-field>
  </div>

  <!-- Le reste de votre HTML ... -->
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="applyFilter($event)" cdkFocusInitial>
    Appliquer
  </button>
</div>
