<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>bank statement table</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body class="blockButton">
    <div class="button-row" *ngFor="let button of buttons; let i = index">
      <div class="button-pair">
        <div class="c1">
          <a
            [id]="'idbuttonByExtrait' + button.collapseId"
            class="btn btn-primary myDivWidth"
            role="button"
            aria-expanded="false"
            aria-controls="multiCollapseExample1"
            (click)="toggleVisibility(button.collapseId)"
            [title]="titleButtonExtrait"
          >
            <span class="toggle-label">Extrait du</span>
            <span class="date-extrait"
              >&nbsp;{{ formattedDateExtrait }}&nbsp;</span
            >&nbsp;
            <i
              class="fas"
              [ngClass]="{
                'fa-angle-down': !isIconUp,
                'fa-angle-up': isIconUp
              }"
            ></i>
          </a>
        </div>
      </div>
      <div class="row container-child">
        <div class="col">
          <div
            class="collapse multi-collapse"
            [id]="button.collapseId"
            [ngClass]="{ show: activeButton === button.collapseId }"
          >
            <!-- Table content -->
            <table
              mat-table
              [dataSource]="dataSource"
              matSort
              class="tableau-bordure"
            >
              <!-- Column definitions -->
              <ng-container matColumnDef="dateDonneeExtrait">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  style="text-align: center"
                >
                  <span style="text-align: center">Date opération</span>
                </th>
                <td mat-cell *matCellDef="let element" class="equal-width-cell">
                  {{ formatDate(element.dateDonneeExtrait) }}
                </td>
              </ng-container>

              <ng-container matColumnDef="dateValeurDonneeExtrait">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  class="equal-width-cell"
                >
                  Date valeur opération
                </th>
                <td mat-cell *matCellDef="let element" class="equal-width-cell">
                  {{ formatDate(element.dateValeurDonneeExtrait) }}
                </td>
              </ng-container>

              <ng-container matColumnDef="operations">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  class="equal-width-cell"
                >
                  Opération
                </th>
                <td mat-cell *matCellDef="let element" class="equal-width-cell">
                  <!-- {{ element.operations }} -->
                  example of operationnnnn
                </td>
              </ng-container>

              <ng-container matColumnDef="debit">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  class="equal-width-cell"
                >
                  Débit en euros &nbsp;<span>&euro;</span>
                </th>
                <td mat-cell *matCellDef="let element" class="equal-width-cell">
                  <div *ngIf="element.debit !== 0">{{ element.debit }}</div>
                  <div *ngIf="element.debit === 0">Aucun débit</div>
                </td>
              </ng-container>

              <ng-container matColumnDef="credit">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  class="equal-width-cell"
                >
                  Credit en euros &nbsp;<span>&euro;</span>
                </th>
                <td mat-cell *matCellDef="let element" class="equal-width-cell">
                  <div *ngIf="element.credit !== 0">{{ element.credit }}</div>
                  <div *ngIf="element.credit === 0">Aucun credit</div>
                </td>
              </ng-container>

              <!-- Table content -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                [ngClass]="{
                  'zero-debit': row.debit === 0,
                  'non-zero-debit': row.debit !== 0
                }"
              ></tr>
            </table>
            <div class="c1">
              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                class="custom-paginator"
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
